/*-------INITIAL SETTING-------*/

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0px auto;
    background-color: #000;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#body-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

/*-------TIME-------*/

#salah-status {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}

#formatted-time {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin: 5px;
}

/*-------CALENDAR-------*/

#date-text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}

/*-------BATTERY + WEATHER-------*/

#measurements {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 5px;
}

/*-------BATTERY-------*/

#battery-text {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

/*-------WEATHER-------*/
#weather-text {
    color: white;
    font-size: 28px;
    font-weight: bold;
}